USE [master]
GO
/****** Objeto:  Database [DataForgeDb]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE DATABASE [DataForgeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataForgeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DataForgeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataForgeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DataForgeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataForgeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataForgeDb]
GO
/****** Objeto:  Table [dbo].[Analises]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analises](
	[IdAnalise] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[IdUtilizador] [int] NOT NULL,
	[Nome] [nvarchar](200) NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[ConfiguracaoJson] [nvarchar](max) NULL,
	[ResultadoJson] [nvarchar](max) NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAtualizacao] [datetime2](7) NULL,
 CONSTRAINT [PK_Analises] PRIMARY KEY CLUSTERED 
(
	[IdAnalise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Anomalias]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anomalias](
	[IdAnomalia] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[IdColuna] [int] NULL,
	[NumeroLinha] [bigint] NULL,
	[ValorOriginal] [nvarchar](max) NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[Score] [decimal](10, 6) NULL,
	[Descricao] [nvarchar](1000) NULL,
	[Ignorada] [bit] NOT NULL,
	[DataDeteccao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Anomalias] PRIMARY KEY CLUSTERED 
(
	[IdAnomalia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[DatasetColunas]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatasetColunas](
	[IdColuna] [int] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[TipoOriginal] [nvarchar](100) NULL,
	[TipoDetectado] [nvarchar](50) NULL,
	[Posicao] [int] NOT NULL,
	[TotalValores] [bigint] NOT NULL,
	[ValoresValidos] [bigint] NOT NULL,
	[ValoresAusentes] [bigint] NOT NULL,
	[ValoresUnicos] [bigint] NOT NULL,
	[PercentualValido] [decimal](5, 2) NULL,
 CONSTRAINT [PK_DatasetColunas] PRIMARY KEY CLUSTERED 
(
	[IdColuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DatasetColunas_Dataset_Posicao] UNIQUE NONCLUSTERED 
(
	[IdDataset] ASC,
	[Posicao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Datasets]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datasets](
	[IdDataset] [int] IDENTITY(1,1) NOT NULL,
	[IdProjeto] [int] NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[NomeOriginal] [nvarchar](255) NOT NULL,
	[TipoArquivo] [nvarchar](20) NOT NULL,
	[CaminhoArquivo] [nvarchar](1000) NULL,
	[TamanhoBytes] [bigint] NULL,
	[TotalRegistos] [bigint] NOT NULL,
	[TotalColunas] [int] NOT NULL,
	[QualityScore] [decimal](5, 2) NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[DataImportacao] [datetime2](7) NOT NULL,
	[DataProcessamento] [datetime2](7) NULL,
 CONSTRAINT [PK_Datasets] PRIMARY KEY CLUSTERED 
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[EstatisticasColunas]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstatisticasColunas](
	[IdEstatistica] [bigint] IDENTITY(1,1) NOT NULL,
	[IdColuna] [int] NOT NULL,
	[Minimo] [decimal](38, 10) NULL,
	[Maximo] [decimal](38, 10) NULL,
	[Media] [decimal](38, 10) NULL,
	[Mediana] [decimal](38, 10) NULL,
	[DesvioPadrao] [decimal](38, 10) NULL,
	[P25] [decimal](38, 10) NULL,
	[P50] [decimal](38, 10) NULL,
	[P75] [decimal](38, 10) NULL,
	[P90] [decimal](38, 10) NULL,
	[P99] [decimal](38, 10) NULL,
	[DataCalculo] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EstatisticasColunas] PRIMARY KEY CLUSTERED 
(
	[IdEstatistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Historico]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[IdHistorico] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUtilizador] [int] NULL,
	[IdProjeto] [int] NULL,
	[IdDataset] [int] NULL,
	[Acao] [nvarchar](150) NOT NULL,
	[Entidade] [nvarchar](100) NULL,
	[IdRegisto] [bigint] NULL,
	[Descricao] [nvarchar](1000) NULL,
	[DataAcao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Historico] PRIMARY KEY CLUSTERED 
(
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Importacoes]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importacoes](
	[IdImportacao] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[IdUtilizador] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Percentual] [int] NOT NULL,
	[RegistosProcessados] [bigint] NOT NULL,
	[MensagemErro] [nvarchar](max) NULL,
	[InicioProcessamento] [datetime2](7) NULL,
	[FimProcessamento] [datetime2](7) NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Importacoes] PRIMARY KEY CLUSTERED 
(
	[IdImportacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ProblemasQualidade]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemasQualidade](
	[IdProblema] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[IdColuna] [int] NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[Severidade] [nvarchar](30) NOT NULL,
	[Descricao] [nvarchar](1000) NOT NULL,
	[Quantidade] [bigint] NOT NULL,
	[Resolvido] [bit] NOT NULL,
	[DataDeteccao] [datetime2](7) NOT NULL,
	[DataResolucao] [datetime2](7) NULL,
 CONSTRAINT [PK_ProblemasQualidade] PRIMARY KEY CLUSTERED 
(
	[IdProblema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Projetos]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projetos](
	[IdProjeto] [int] IDENTITY(1,1) NOT NULL,
	[IdUtilizador] [int] NOT NULL,
	[Nome] [nvarchar](200) NOT NULL,
	[Descricao] [nvarchar](1000) NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAtualizacao] [datetime2](7) NULL,
 CONSTRAINT [PK_Projetos] PRIMARY KEY CLUSTERED 
(
	[IdProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Transformacoes]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transformacoes](
	[IdTransformacao] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDataset] [int] NOT NULL,
	[IdColuna] [int] NULL,
	[IdUtilizador] [int] NOT NULL,
	[Tipo] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](1000) NULL,
	[ParametrosJson] [nvarchar](max) NULL,
	[RegistosAfetados] [bigint] NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataExecucao] [datetime2](7) NULL,
 CONSTRAINT [PK_Transformacoes] PRIMARY KEY CLUSTERED 
(
	[IdTransformacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Utilizadores]    Data do Script: 25/09/2026 12:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizadores](
	[IdUtilizador] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Perfil] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[UltimoAcesso] [datetime2](7) NULL,
	[FotoPerfil] [nvarchar](500) NULL,
 CONSTRAINT [PK_Utilizadores] PRIMARY KEY CLUSTERED 
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Utilizadores_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Analises_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Analises_IdDataset] ON [dbo].[Analises]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Analises_IdUtilizador]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Analises_IdUtilizador] ON [dbo].[Analises]
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Anomalias_IdColuna]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Anomalias_IdColuna] ON [dbo].[Anomalias]
(
	[IdColuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Anomalias_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Anomalias_IdDataset] ON [dbo].[Anomalias]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Anomalias_Ignorada]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Anomalias_Ignorada] ON [dbo].[Anomalias]
(
	[Ignorada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_DatasetColunas_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetColunas_IdDataset] ON [dbo].[DatasetColunas]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [IX_DatasetColunas_Nome]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_DatasetColunas_Nome] ON [dbo].[DatasetColunas]
(
	[IdDataset] ASC,
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Datasets_DataImportacao]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Datasets_DataImportacao] ON [dbo].[Datasets]
(
	[DataImportacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [IX_Datasets_Estado]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Datasets_Estado] ON [dbo].[Datasets]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Datasets_IdProjeto]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Datasets_IdProjeto] ON [dbo].[Datasets]
(
	[IdProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_EstatisticasColunas_IdColuna]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_EstatisticasColunas_IdColuna] ON [dbo].[EstatisticasColunas]
(
	[IdColuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Historico_DataAcao]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_DataAcao] ON [dbo].[Historico]
(
	[DataAcao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Historico_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_IdDataset] ON [dbo].[Historico]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Historico_IdProjeto]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_IdProjeto] ON [dbo].[Historico]
(
	[IdProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Historico_IdUtilizador]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Historico_IdUtilizador] ON [dbo].[Historico]
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [IX_Importacoes_Estado]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Importacoes_Estado] ON [dbo].[Importacoes]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Importacoes_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Importacoes_IdDataset] ON [dbo].[Importacoes]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Importacoes_IdUtilizador]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Importacoes_IdUtilizador] ON [dbo].[Importacoes]
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_ProblemasQualidade_IdColuna]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProblemasQualidade_IdColuna] ON [dbo].[ProblemasQualidade]
(
	[IdColuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_ProblemasQualidade_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProblemasQualidade_IdDataset] ON [dbo].[ProblemasQualidade]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_ProblemasQualidade_Resolvido]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProblemasQualidade_Resolvido] ON [dbo].[ProblemasQualidade]
(
	[Resolvido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [IX_ProblemasQualidade_Tipo]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProblemasQualidade_Tipo] ON [dbo].[ProblemasQualidade]
(
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Projetos_Ativo]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Projetos_Ativo] ON [dbo].[Projetos]
(
	[Ativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Projetos_IdUtilizador]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Projetos_IdUtilizador] ON [dbo].[Projetos]
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Transformacoes_IdColuna]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Transformacoes_IdColuna] ON [dbo].[Transformacoes]
(
	[IdColuna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Transformacoes_IdDataset]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Transformacoes_IdDataset] ON [dbo].[Transformacoes]
(
	[IdDataset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto:  Index [IX_Transformacoes_IdUtilizador]    Data do Script: 25/09/2026 12:04:20 ******/
CREATE NONCLUSTERED INDEX [IX_Transformacoes_IdUtilizador] ON [dbo].[Transformacoes]
(
	[IdUtilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Analises] ADD  CONSTRAINT [DF_Analises_DataCriacao]  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Anomalias] ADD  CONSTRAINT [DF_Anomalias_Ignorada]  DEFAULT ((0)) FOR [Ignorada]
GO
ALTER TABLE [dbo].[Anomalias] ADD  CONSTRAINT [DF_Anomalias_DataDeteccao]  DEFAULT (sysdatetime()) FOR [DataDeteccao]
GO
ALTER TABLE [dbo].[DatasetColunas] ADD  CONSTRAINT [DF_DatasetColunas_TotalValores]  DEFAULT ((0)) FOR [TotalValores]
GO
ALTER TABLE [dbo].[DatasetColunas] ADD  CONSTRAINT [DF_DatasetColunas_ValoresValidos]  DEFAULT ((0)) FOR [ValoresValidos]
GO
ALTER TABLE [dbo].[DatasetColunas] ADD  CONSTRAINT [DF_DatasetColunas_ValoresAusentes]  DEFAULT ((0)) FOR [ValoresAusentes]
GO
ALTER TABLE [dbo].[DatasetColunas] ADD  CONSTRAINT [DF_DatasetColunas_ValoresUnicos]  DEFAULT ((0)) FOR [ValoresUnicos]
GO
ALTER TABLE [dbo].[Datasets] ADD  CONSTRAINT [DF_Datasets_TotalRegistos]  DEFAULT ((0)) FOR [TotalRegistos]
GO
ALTER TABLE [dbo].[Datasets] ADD  CONSTRAINT [DF_Datasets_TotalColunas]  DEFAULT ((0)) FOR [TotalColunas]
GO
ALTER TABLE [dbo].[Datasets] ADD  CONSTRAINT [DF_Datasets_Estado]  DEFAULT ('Pendente') FOR [Estado]
GO
ALTER TABLE [dbo].[Datasets] ADD  CONSTRAINT [DF_Datasets_DataImportacao]  DEFAULT (sysdatetime()) FOR [DataImportacao]
GO
ALTER TABLE [dbo].[EstatisticasColunas] ADD  CONSTRAINT [DF_EstatisticasColunas_DataCalculo]  DEFAULT (sysdatetime()) FOR [DataCalculo]
GO
ALTER TABLE [dbo].[Historico] ADD  CONSTRAINT [DF_Historico_DataAcao]  DEFAULT (sysdatetime()) FOR [DataAcao]
GO
ALTER TABLE [dbo].[Importacoes] ADD  CONSTRAINT [DF_Importacoes_Estado]  DEFAULT ('Pendente') FOR [Estado]
GO
ALTER TABLE [dbo].[Importacoes] ADD  CONSTRAINT [DF_Importacoes_Percentual]  DEFAULT ((0)) FOR [Percentual]
GO
ALTER TABLE [dbo].[Importacoes] ADD  CONSTRAINT [DF_Importacoes_RegistosProcessados]  DEFAULT ((0)) FOR [RegistosProcessados]
GO
ALTER TABLE [dbo].[Importacoes] ADD  CONSTRAINT [DF_Importacoes_DataCriacao]  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[ProblemasQualidade] ADD  CONSTRAINT [DF_ProblemasQualidade_Severidade]  DEFAULT ('Aviso') FOR [Severidade]
GO
ALTER TABLE [dbo].[ProblemasQualidade] ADD  CONSTRAINT [DF_ProblemasQualidade_Quantidade]  DEFAULT ((0)) FOR [Quantidade]
GO
ALTER TABLE [dbo].[ProblemasQualidade] ADD  CONSTRAINT [DF_ProblemasQualidade_Resolvido]  DEFAULT ((0)) FOR [Resolvido]
GO
ALTER TABLE [dbo].[ProblemasQualidade] ADD  CONSTRAINT [DF_ProblemasQualidade_DataDeteccao]  DEFAULT (sysdatetime()) FOR [DataDeteccao]
GO
ALTER TABLE [dbo].[Projetos] ADD  CONSTRAINT [DF_Projetos_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Projetos] ADD  CONSTRAINT [DF_Projetos_DataCriacao]  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Transformacoes] ADD  CONSTRAINT [DF_Transformacoes_Estado]  DEFAULT ('Pendente') FOR [Estado]
GO
ALTER TABLE [dbo].[Transformacoes] ADD  CONSTRAINT [DF_Transformacoes_DataCriacao]  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Utilizadores] ADD  CONSTRAINT [DF_Utilizadores_Perfil]  DEFAULT ('Analista') FOR [Perfil]
GO
ALTER TABLE [dbo].[Utilizadores] ADD  CONSTRAINT [DF_Utilizadores_Ativo]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Utilizadores] ADD  CONSTRAINT [DF_Utilizadores_DataCriacao]  DEFAULT (sysdatetime()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Analises]  WITH CHECK ADD  CONSTRAINT [FK_Analises_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[Analises] CHECK CONSTRAINT [FK_Analises_Datasets]
GO
ALTER TABLE [dbo].[Analises]  WITH CHECK ADD  CONSTRAINT [FK_Analises_Utilizadores] FOREIGN KEY([IdUtilizador])
REFERENCES [dbo].[Utilizadores] ([IdUtilizador])
GO
ALTER TABLE [dbo].[Analises] CHECK CONSTRAINT [FK_Analises_Utilizadores]
GO
ALTER TABLE [dbo].[Anomalias]  WITH CHECK ADD  CONSTRAINT [FK_Anomalias_Colunas] FOREIGN KEY([IdColuna])
REFERENCES [dbo].[DatasetColunas] ([IdColuna])
GO
ALTER TABLE [dbo].[Anomalias] CHECK CONSTRAINT [FK_Anomalias_Colunas]
GO
ALTER TABLE [dbo].[Anomalias]  WITH CHECK ADD  CONSTRAINT [FK_Anomalias_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[Anomalias] CHECK CONSTRAINT [FK_Anomalias_Datasets]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [FK_DatasetColunas_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [FK_DatasetColunas_Datasets]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [FK_Datasets_Projetos] FOREIGN KEY([IdProjeto])
REFERENCES [dbo].[Projetos] ([IdProjeto])
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [FK_Datasets_Projetos]
GO
ALTER TABLE [dbo].[EstatisticasColunas]  WITH CHECK ADD  CONSTRAINT [FK_EstatisticasColunas_Colunas] FOREIGN KEY([IdColuna])
REFERENCES [dbo].[DatasetColunas] ([IdColuna])
GO
ALTER TABLE [dbo].[EstatisticasColunas] CHECK CONSTRAINT [FK_EstatisticasColunas_Colunas]
GO
ALTER TABLE [dbo].[Historico]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK_Historico_Datasets]
GO
ALTER TABLE [dbo].[Historico]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Projetos] FOREIGN KEY([IdProjeto])
REFERENCES [dbo].[Projetos] ([IdProjeto])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK_Historico_Projetos]
GO
ALTER TABLE [dbo].[Historico]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Utilizadores] FOREIGN KEY([IdUtilizador])
REFERENCES [dbo].[Utilizadores] ([IdUtilizador])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK_Historico_Utilizadores]
GO
ALTER TABLE [dbo].[Importacoes]  WITH CHECK ADD  CONSTRAINT [FK_Importacoes_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[Importacoes] CHECK CONSTRAINT [FK_Importacoes_Datasets]
GO
ALTER TABLE [dbo].[Importacoes]  WITH CHECK ADD  CONSTRAINT [FK_Importacoes_Utilizadores] FOREIGN KEY([IdUtilizador])
REFERENCES [dbo].[Utilizadores] ([IdUtilizador])
GO
ALTER TABLE [dbo].[Importacoes] CHECK CONSTRAINT [FK_Importacoes_Utilizadores]
GO
ALTER TABLE [dbo].[ProblemasQualidade]  WITH CHECK ADD  CONSTRAINT [FK_ProblemasQualidade_Colunas] FOREIGN KEY([IdColuna])
REFERENCES [dbo].[DatasetColunas] ([IdColuna])
GO
ALTER TABLE [dbo].[ProblemasQualidade] CHECK CONSTRAINT [FK_ProblemasQualidade_Colunas]
GO
ALTER TABLE [dbo].[ProblemasQualidade]  WITH CHECK ADD  CONSTRAINT [FK_ProblemasQualidade_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[ProblemasQualidade] CHECK CONSTRAINT [FK_ProblemasQualidade_Datasets]
GO
ALTER TABLE [dbo].[Projetos]  WITH CHECK ADD  CONSTRAINT [FK_Projetos_Utilizadores] FOREIGN KEY([IdUtilizador])
REFERENCES [dbo].[Utilizadores] ([IdUtilizador])
GO
ALTER TABLE [dbo].[Projetos] CHECK CONSTRAINT [FK_Projetos_Utilizadores]
GO
ALTER TABLE [dbo].[Transformacoes]  WITH CHECK ADD  CONSTRAINT [FK_Transformacoes_Colunas] FOREIGN KEY([IdColuna])
REFERENCES [dbo].[DatasetColunas] ([IdColuna])
GO
ALTER TABLE [dbo].[Transformacoes] CHECK CONSTRAINT [FK_Transformacoes_Colunas]
GO
ALTER TABLE [dbo].[Transformacoes]  WITH CHECK ADD  CONSTRAINT [FK_Transformacoes_Datasets] FOREIGN KEY([IdDataset])
REFERENCES [dbo].[Datasets] ([IdDataset])
GO
ALTER TABLE [dbo].[Transformacoes] CHECK CONSTRAINT [FK_Transformacoes_Datasets]
GO
ALTER TABLE [dbo].[Transformacoes]  WITH CHECK ADD  CONSTRAINT [FK_Transformacoes_Utilizadores] FOREIGN KEY([IdUtilizador])
REFERENCES [dbo].[Utilizadores] ([IdUtilizador])
GO
ALTER TABLE [dbo].[Transformacoes] CHECK CONSTRAINT [FK_Transformacoes_Utilizadores]
GO
ALTER TABLE [dbo].[Anomalias]  WITH CHECK ADD  CONSTRAINT [CK_Anomalias_NumeroLinha] CHECK  (([NumeroLinha] IS NULL OR [NumeroLinha]>=(1)))
GO
ALTER TABLE [dbo].[Anomalias] CHECK CONSTRAINT [CK_Anomalias_NumeroLinha]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_PercentualValido] CHECK  (([PercentualValido] IS NULL OR [PercentualValido]>=(0) AND [PercentualValido]<=(100)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_PercentualValido]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_Posicao] CHECK  (([Posicao]>=(0)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_Posicao]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_TotalValores] CHECK  (([TotalValores]>=(0)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_TotalValores]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_ValoresAusentes] CHECK  (([ValoresAusentes]>=(0)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_ValoresAusentes]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_ValoresUnicos] CHECK  (([ValoresUnicos]>=(0)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_ValoresUnicos]
GO
ALTER TABLE [dbo].[DatasetColunas]  WITH CHECK ADD  CONSTRAINT [CK_DatasetColunas_ValoresValidos] CHECK  (([ValoresValidos]>=(0)))
GO
ALTER TABLE [dbo].[DatasetColunas] CHECK CONSTRAINT [CK_DatasetColunas_ValoresValidos]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [CK_Datasets_Estado] CHECK  (([Estado]='Erro' OR [Estado]='Processado' OR [Estado]='A Processar' OR [Estado]='Pendente'))
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [CK_Datasets_Estado]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [CK_Datasets_QualityScore] CHECK  (([QualityScore] IS NULL OR [QualityScore]>=(0) AND [QualityScore]<=(100)))
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [CK_Datasets_QualityScore]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [CK_Datasets_TotalColunas] CHECK  (([TotalColunas]>=(0)))
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [CK_Datasets_TotalColunas]
GO
ALTER TABLE [dbo].[Datasets]  WITH CHECK ADD  CONSTRAINT [CK_Datasets_TotalRegistos] CHECK  (([TotalRegistos]>=(0)))
GO
ALTER TABLE [dbo].[Datasets] CHECK CONSTRAINT [CK_Datasets_TotalRegistos]
GO
ALTER TABLE [dbo].[Importacoes]  WITH CHECK ADD  CONSTRAINT [CK_Importacoes_Estado] CHECK  (([Estado]='Erro' OR [Estado]='Concluido' OR [Estado]='A Processar' OR [Estado]='Pendente'))
GO
ALTER TABLE [dbo].[Importacoes] CHECK CONSTRAINT [CK_Importacoes_Estado]
GO
ALTER TABLE [dbo].[Importacoes]  WITH CHECK ADD  CONSTRAINT [CK_Importacoes_Percentual] CHECK  (([Percentual]>=(0) AND [Percentual]<=(100)))
GO
ALTER TABLE [dbo].[Importacoes] CHECK CONSTRAINT [CK_Importacoes_Percentual]
GO
ALTER TABLE [dbo].[Importacoes]  WITH CHECK ADD  CONSTRAINT [CK_Importacoes_RegistosProcessados] CHECK  (([RegistosProcessados]>=(0)))
GO
ALTER TABLE [dbo].[Importacoes] CHECK CONSTRAINT [CK_Importacoes_RegistosProcessados]
GO
ALTER TABLE [dbo].[ProblemasQualidade]  WITH CHECK ADD  CONSTRAINT [CK_ProblemasQualidade_Quantidade] CHECK  (([Quantidade]>=(0)))
GO
ALTER TABLE [dbo].[ProblemasQualidade] CHECK CONSTRAINT [CK_ProblemasQualidade_Quantidade]
GO
ALTER TABLE [dbo].[ProblemasQualidade]  WITH CHECK ADD  CONSTRAINT [CK_ProblemasQualidade_Severidade] CHECK  (([Severidade]='Critico' OR [Severidade]='Erro' OR [Severidade]='Aviso' OR [Severidade]='Informacao'))
GO
ALTER TABLE [dbo].[ProblemasQualidade] CHECK CONSTRAINT [CK_ProblemasQualidade_Severidade]
GO
ALTER TABLE [dbo].[Transformacoes]  WITH CHECK ADD  CONSTRAINT [CK_Transformacoes_Estado] CHECK  (([Estado]='Erro' OR [Estado]='Concluido' OR [Estado]='A Processar' OR [Estado]='Pendente'))
GO
ALTER TABLE [dbo].[Transformacoes] CHECK CONSTRAINT [CK_Transformacoes_Estado]
GO
ALTER TABLE [dbo].[Utilizadores]  WITH CHECK ADD  CONSTRAINT [CK_Utilizadores_Perfil] CHECK  (([Perfil]='Visualizador' OR [Perfil]='Analista' OR [Perfil]='Administrador'))
GO
ALTER TABLE [dbo].[Utilizadores] CHECK CONSTRAINT [CK_Utilizadores_Perfil]
GO
USE [master]
GO
